@page "/Credits/Pricing"
@using SMSLiveResellerSite2026.Components.Data
@using SMSLiveResellerSite2026.Components.Formatting
@using SMSLiveResellerSite2026.Components.Forms
@using SMSLiveResellerSite2026.Components.Layouts

<Title>Price List</Title>

<Card>
    <Body>
        <MultiColumn Column1Width="5" Column2Width="7">
            <Column1>
                <div class="card">
                    <header class="card-header pt-3 pb-2">
                        <h5>Calculate your price here</h5>
                    </header>

                    <div class="card-body">
                        <FormField Label="Quantity">
                            <InputNumber class="form-control" @bind-Value="quantity" placeholder="SMS Quantity" />
                        </FormField>

                        <Loading NullCheckObject="priceCalc">
                            <div class="mt-4">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label">Unit Price</label>
                                    <FormatNumber Currency="@priceCalc.Price"></FormatNumber>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <label class="form-label">Total Amount</label>
                                    <FormatNumber Currency="@priceCalc.Amount"></FormatNumber>
                                </div>
                            </div>
                        </Loading>
                    </div>

                    <div class="card-footer border-top py-2">
                        <Button Type="Button.Style.DEFAULT" @onclick="CalculatePrice">Get Price</Button>
                    </div>
                </div>
            </Column1>
            <Column2>
                <Table Items="priceSlots">
                    <Columns>
                        @* <Column Header="SN">
                            1.
                        </Column> *@
                        <Column Align="right" Header="Min Qty">
                            <FormatNumber Number="@context.MinQuantity"></FormatNumber>
                        </Column>
                        <Column Align="right" Header="Max Qty">
                            <FormatNumber Number="@context.MaxQuantity"></FormatNumber>
                        </Column>
                        <Column Align="right" Header="Price">
                            <FormatNumber Currency="@context.Price" Symbol="@currencySymbol"></FormatNumber>
                        </Column>
                    </Columns>
                </Table>
            </Column2>
        </MultiColumn>
    </Body>
</Card>

@code {
    private long quantity = 1000;
    private string currencySymbol = "₦";

    private PriceCalcResponse? priceCalc;
    private List<PriceSlotResponse>? priceSlots;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var t1 = apiClient.PriceCalculateAsync(null, quantity, "N");
            var t2 = apiClient.PriceListAsync();

            await Task.WhenAll(t1, t2);

            priceSlots = t2.Result.Result.ToList();
            priceCalc = t1.Result.Result;
        }
        catch (Exception ex)
        {
            await alert.Error(ex.Message, "Error");
        }
    }

    private async Task CalculatePrice()
    {
        try
        {
            priceCalc = null;
            StateHasChanged();

            var result = await apiClient.PriceCalculateAsync(null, quantity, "N");

            if (result.StatusCode == 200)
                priceCalc = result.Result;
        }
        catch (Exception ex)
        {
            await alert.Error(ex.Message, "Error");
        }
    }
}
