@using SMSLiveResellerSite2026.Components.Forms.Input
@using SMSLiveResellerSite2026.Models

<EditModal TItem="ContactResponse" Size="Modal.ModalSize.MEDIUM" @ref="editor" LabelText="Contact"
           OnCreate="OnCreate"
           OnUpdate="OnUpdate"
           OnDelete="OnDelete"
           OnCompleted="OnCompleted">
    @if (editor.EditMode == EditModal<ContactResponse>.EditModeEnum.CREATE)
    {
        <div class="row row-gap-1">
            @foreach (var field in contactFields)
            {
                <div class="col-6">
                    <InputText class="form-control" placeholder="Contact Name" @bind-Value="field.ContactName"></InputText>
                </div>
                <div class="col-6">
                    <InputText class="form-control" placeholder="Phone Number" @bind-Value="field.PhoneNumber"></InputText>
                </div>
            }
        </div>

        <div class="mt-2">
            <InputCheckbox class="form-check-input me-1" id="addToGroup" @bind-Value="addToGroup"></InputCheckbox>
            <label for="addToGroup" class="form-check-label">Add Contacts to Group</label>
        </div>

        @if (addToGroup) 
        {
            <div class="mt-2">
                <label class="form-label mb-1">Select Group</label>
                <InputSelect class="form-select w-50" @bind-Value="selectedGroup">
                    @foreach (var group in AllGroups)
                    {
                        <option value="@group.Name">@group.Name</option>
                    }
                </InputSelect>
            </div>
        }

        <button type="button" class="btn btn-outline-secondary mt-3" @onclick="AddField">
            <i class="fa fa-plus-circle me-2"></i>
            Add More Contact
        </button>
    }
    else
    {
        <FormInputText Label="Name" @bind-Value="model.ContactName"></FormInputText>
        <FormInputText Label="Phone Number" @bind-Value="model.PhoneNumber"></FormInputText>

        <div class="mt-2">
            <label class="form-label mb-1">Groups</label>
            <div class="row gap-1">
                @foreach (var group in AllGroups)
                {
                    <div class="col-5">
                        <div class="form-check">
                            <InputCheckbox class="form-check-input" type="checkbox" id="@group.Key"
                                @bind-Value="group.Selected">
                            </InputCheckbox>
                            <label class="form-check-label" for="@group.Key">
                                @group.Name
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</EditModal>

@code {
    [Parameter] public List<GroupModel> AllGroups { get; set; } = [];
    [Parameter] public EventCallback OnCompleted { get; set; }

    private EditModal<ContactResponse> editor = new();
    private ContactResponse model => editor.Model;
    private List<ContactResponse> contactFields = new() { new(), new(), new(), new(), new() };

    private bool addToGroup = false;
    private string selectedGroup = string.Empty;

    public void Show(ContactResponse? item = null)
    {
        editor.Show(item);

        if (editor.EditMode == EditModal<ContactResponse>.EditModeEnum.EDIT
            || editor.EditMode == EditModal<ContactResponse>.EditModeEnum.DELETE)
        {
            var contactGroups = model.Groups ?? Array.Empty<string>();
            foreach (var group in AllGroups)
            {
                group.Selected = contactGroups.Contains(group.Name);
            }
        }

    }
    public void Delete(ContactResponse item) => editor.Delete(item);

    private void AddField()
    {
        contactFields.Add(new());
    }

    public async Task OnCreate()
    {
        string[] groups = string.IsNullOrEmpty(selectedGroup) ? Array.Empty<string>() : new[] { selectedGroup };

        var tasks = contactFields.Select(contact =>
        {
            var request = new ContactCreateRequest
            {
                ContactName = contact.ContactName,
                PhoneNumber = contact.PhoneNumber,
                Groups = groups,
            };
            return apiClient.ContactCreateAsync(request);
        });

        await Task.WhenAll(tasks);
        // Reset fields after creating contacts
        contactFields = new() { new(), new(), new(), new(), new() };
        selectedGroup = string.Empty;
        // addToGroup = false;
    }

    private async Task OnUpdate()
    {
        var selectedGroups = AllGroups.Where(g => g.Selected).Select(g => g.Name).ToArray();
        var request = new ContactUpdateRequest
        {
            ContactName = model.ContactName,
            PhoneNumber = model.PhoneNumber,
            Groups = selectedGroups
        };

        await apiClient.ContactUpdateAsync(model.PhoneNumber, request);
    }

    private async Task OnDelete()
    {
        var question = "Are you sure you want to delete this contact?";
        bool confirmed = await alert.Confirm(question, "Confirm Deletion");

        if (confirmed)
            await apiClient.ContactDeleteAsync(editor.Model.PhoneNumber);
    }
}