<div class="btn-group float-end">
    @ChildContent

    @if (ViewLink != null)
    {
    <a class="@ButtonClass" disabled="@Disabled" href="@ViewLink" title="View">
            <i class="fa fa-eye"></i>
    </a>
    }
    @if (EditLink != null)
    {
    <a class="@ButtonClass" disabled="@Disabled" href="@EditLink" title="Edit">
        <i class="fa fa-edit"></i>
    </a>
    }
    @if (DeleteLink != null)
    {
    <a class="@ButtonClass" disabled="@Disabled" href="@DeleteLink" title="Delete">
        <i class="fa fa-trash"></i>
    </a>
    }

    @if (OnView.HasDelegate)
    {
    <button class="@ButtonClass" disabled="@Disabled" @onclick="@OnView" @onclick:stopPropagation="true" title="View">
        <i class="fa fa-eye"></i>
    </button>
    }
    @if (OnEdit.HasDelegate)
    {
    <button class="@ButtonClass" disabled="@Disabled" @onclick="@OnEdit" @onclick:stopPropagation="true" title="Edit">
        <i class="fa fa-edit"></i>
    </button>
    }
    @if (OnSave.HasDelegate)
    {
    <button class="@ButtonClass" disabled="@Disabled" @onclick="@OnSave" @onclick:stopPropagation="true" title="Save Changes">
        <i class="fa fa-save"></i>
    </button>
    }
    @if (OnDelete.HasDelegate)
    {
    <button class="@ButtonClass" disabled="@Disabled" @onclick="@OnDelete" @onclick:stopPropagation="true" title="Delete">
        <i class="fa fa-trash"></i>
    </button>
    }
    @if (OnDownload.HasDelegate)
    {
    <button class="@ButtonClass" disabled="@Disabled" @onclick="@OnDownload" @onclick:stopPropagation="true" title="Download">
        <i class="fa fa-download"></i>
    </button>
    }
    @if (OnCancel.HasDelegate)
    {
    <button class="@ButtonClass" disabled="@Disabled" @onclick="@OnCancel" @onclick:stopPropagation="true" title="Cancel Edit">
        <i class="fa fa-times-circle"></i>
    </button>
    }
</div>

@code {
    [Parameter] public EventCallback OnView { get; set; }
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
    [Parameter] public EventCallback OnDownload { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    [Parameter] public string? ViewLink { get; set; }
    [Parameter] public string? EditLink { get; set; }
    [Parameter] public string? DeleteLink { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string ButtonClass { get; set; } = "btn btn-outline-secondary";
    [Parameter] public bool Disabled { get; set; } = false;
}
